In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("fraudTrain.csv")

In [3]:
df.shape

(1296675, 23)

In [4]:
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [23]:
df.head(11)

,category,amt,gender,city,lat,long,job,is_fraud
0,misc_net,4.97,F,Moravian Falls,36.0788,-81.1781,"Psychologist, counselling",0
1,grocery_pos,107.23,F,Orient,48.8878,-118.2105,Special educational needs teacher,0
2,entertainment,220.11,M,Malad City,42.1808,-112.2620,Nature conservation officer,0
3,gas_transport,45.00,M,Boulder,46.2306,-112.1138,Patent attorney,0
4,misc_pos,41.96,M,Doe Hill,38.4207,-79.4629,Dance movement psychotherapist,0
5,gas_transport,94.63,F,Dublin,40.3750,-75.2045,Transport planner,0
6,grocery_net,44.54,F,Holcomb,37.9931,-100.9893,Arboriculturist,0
7,gas_transport,71.65,M,Edinburg,38.8432,-78.6003,"Designer, multimedia",0
8,misc_pos,4.27,F,Manor,40.3359,-79.6607,Public affairs consultant,0
9,grocery_pos,198.39,F,Clarksville,36.5220,-87.3490,Pathologist,0
10,grocery_pos,24.74,M,Clarinda,40.7491,-95.0380,IT trainer,0

In [6]:
df=df[['category', 'amt', 'gender', 'city','lat', 'long', 'job' ,'is_fraud']]

In [7]:
df.head()

,category,amt,gender,city,lat,long,job,is_fraud
0,misc_net,4.97,F,Moravian Falls,36.0788,-81.1781,"Psychologist, counselling",0
1,grocery_pos,107.23,F,Orient,48.8878,-118.2105,Special educational needs teacher,0
2,entertainment,220.11,M,Malad City,42.1808,-112.2620,Nature conservation officer,0
3,gas_transport,45.00,M,Boulder,46.2306,-112.1138,Patent attorney,0
4,misc_pos,41.96,M,Doe Hill,38.4207,-79.4629,Dance movement psychotherapist,0

In [8]:
from sklearn.utils import resample
data_max=df[df.is_fraud==0]
data_min=df[df.is_fraud==1]
print(data_max.shape,data_min.shape)

(1289169, 8) (7506, 8)

In [9]:
data_min_sample=resample(data_min,n_samples=100000,random_state=123)
mydata=pd.concat([data_max[:100000],data_min_sample])
data_min_sample.shape,mydata.shape

((100000, 8), (200000, 8))

In [10]:
mydata['is_fraud'].value_counts()

is_fraud
0    100000
1    100000
Name: count, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
la= LabelEncoder()
label=la.fit(mydata['category'])
mydata['category_label']=la.transform(mydata['category'])


la1= LabelEncoder()
label1=la1.fit(mydata['gender'])
mydata['gender_label']=la1.transform(mydata['gender'])


la2= LabelEncoder()
label2=la2.fit(mydata['city'])
mydata['city_label']=la2.transform(mydata['city'])


la4= LabelEncoder()
label4=la4.fit(mydata['job'])
mydata['job_label']=la4.transform(mydata['job'])

In [13]:
la2.inverse_transform([339])

array(['Heidelberg'], dtype=object)

In [14]:
dff=mydata.drop(['category','gender','city','job'],axis=1)
dff

,amt,lat,long,is_fraud,category_label,gender_label,city_label,job_label
0,4.97,36.0788,-81.1781,0,8,0,526,370
1,107.23,48.8878,-118.2105,0,4,0,612,428
2,220.11,42.1808,-112.2620,0,0,1,468,307
3,45.00,46.2306,-112.1138,0,2,1,84,328
4,41.96,38.4207,-79.4629,0,9,1,216,116
...,...,...,...,...,...,...,...,...
869252,974.87,33.9659,-80.9355,1,11,1,168,287
83957,284.63,42.5164,-82.9832,1,4,1,837,135
1023381,672.71,34.0443,-118.2509,1,8,0,457,258
598604,941.63,27.9551,-82.2966,1,11,0,90,178
1071190,298.64,36.1499,-95.7923,1,4,0,810,381

In [15]:
cat_list=list(dff['category_label'].unique())
cat_list

[np.int64(8),
 np.int64(4),
 np.int64(0),
 np.int64(2),
 np.int64(9),
 np.int64(3),
 np.int64(11),
 np.int64(12),
 np.int64(1),
 np.int64(10),
 np.int64(5),
 np.int64(13),
 np.int64(7),
 np.int64(6)]

In [16]:
print(la.inverse_transform(cat_list))

['misc_net' 'grocery_pos' 'entertainment' 'gas_transport' 'misc_pos'
 'grocery_net' 'shopping_net' 'shopping_pos' 'food_dining' 'personal_care'
 'health_fitness' 'travel' 'kids_pets' 'home']

In [17]:
x=dff.drop('is_fraud',axis=1)
y=dff['is_fraud']

In [18]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [19]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score,confusion_matrix,precision_score
clf =RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

print("accuracy",accuracy_score(y_test,y_pred))

accuracy 0.9962

In [28]:
import joblib

# Save the model to a file
joblib.dump(clf, 'fraud_detection_model.pkl')

# Also save the label encoders if needed for new predictions
joblib.dump(la, 'category_encoder.pkl')
joblib.dump(la1, 'gender_encoder.pkl')
joblib.dump(la2, 'city_encoder.pkl')
joblib.dump(la4, 'job_encoder.pkl')

['job_encoder.pkl']